-f https://download.pytorch.org/whl/torch_stable.html
ffmpeg==1.4
moviepy==1.0.3
numpy
opencv-python-headless
Pillow==9.0.1
requests==2.27.1
streamlit==1.5.1
torch==1.8.1+cpu 
torchvision==0.9.1+cpu
